@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --color-blue: #0275B1;
    --color-black: #181818;
    --color-bg-blue: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    --color-bg-lightblue: #E9F0F8;
    --color-bg-gray: #e5e5e5;
    --color-bg-lightgray: #fcfdfd;
    --color-border-gray: #e7e7e7;
    --color-border-lightgray: #f4f4f4;
    --color-green: #02B033;
    --color-gray: #747474;
    --section-color: #F7F9FB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    font-family: Montserrat;
}


header {
    max-width: 1440px;
    margin: auto;
}

header nav {
    display: flex;
    width: 484px;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
}

header nav ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-black);
    font-size: 12px;
    font-weight: bold;
}

nav i {
    font-size: 24px;
    padding-bottom: 5px;
}

nav ul li a:hover {
  color: var(--color-blue);
}

nav ul li a::after {
    content:"";
    width: 0%;
    height: 2px;
    background: var(--color-blue);
  
    position: relative;
    left: 0;
    bottom: -0.5rem;
    transition: width 0.3s;
  }
  
nav ul li a:hover::after {
    width: 100%;
  }

nav img {
    position: absolute;
    bottom: 35px;
    left: 20px;
  }

.primary-button {
    padding: 11px auto 10px auto;
    height: 32px;
    width: 170px;
    font-size: 12px;
    font-weight: bold;
    color: #0275B1;
    background-color: white;
    border: 1px solid #0275B1;
    border-radius: 4px;
}

.primary-button:hover {
    color: white;
    background-color: #0275B1;
    cursor: pointer;
}

.border-right {
    border-right: 1px solid var(--color-border-lightgray);
}

.header-container {
    display: flex;
    height: 80px;
}

.logo {
    padding: 17px 43px 17px 40px;
}

.logo img {
    width: 46px;
}

.container {
    display: flex;
    width: 1180px;
}

.search {
    position: relative;
    width: 367px
}

input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 74px;
}

input::placeholder {
    font-size: 16px;
    color: #CECECE;
}

.search img {
    width: 24px;
    position: absolute;
    left: 30px;
    top: 28px;
}

.user-perfil {
    padding: 18px 0 20px 30px;
    align-items: center;
    width: 330px;
    display: flex;
    cursor: pointer;
}

.user-perfil img {
    padding-right: 15px;
}

.user-name span {
    font-size: 12px;
}

.name span:first-child {
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
    padding-bottom: 11px;
}

.name span:last-child {
    text-transform: uppercase;
    color: var(--color-black);
    opacity: 0.2;
}

.views span:first-child {
    color: var(--color-gray);
    padding-right: 4px
}

.views span:nth-child(2) {
    color: var(--color-green);
    padding-right: 2px;
}

.views {
    display: flex;
    align-items: center
}

.other {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
}

.other a {
    color: var(--color-black)
}

.other i {
    font-size: 24px;
}

.other span {
    font-size: 12px;
    font-weight: bold
}

section {
    background-color: var(--section-color);
    height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    height: 215px;
}

footer button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 15px 10px;
}

footer button i {
    font-size: 16px
}

select {
    width: 270px;
    height: 32px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    cursor: pointer;
}









