@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --color-blue: #0275B1;
    --color-black: #181818;
    --color-bg-blue: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    --color-bg-lightblue: #E9F0F8;
    --color-bg-gray: #e5e5e5;
    --color-bg-lightgray: #fcfdfd;
    --color-border-gray: #e7e7e7;
    --color-border-lightgray: #f4f4f4;
    --color-green: #02B033
}