@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --color-blue: #0275B1;
    --color-black: #181818;
    --color-bg-lightblue: #E9F0F8;
    --color-bg-gray: #e5e5e5;
    --color-bg-lightgray: #fcfdfd;
    --color-border-gray: #e7e7e7;
    --color-border-lightgray: #f4f4f4;
    --color-green: #02B033;
    --color-gray: #747474;
    --color-white: #FFFFFF;
    --color-main: #f7f9fb
}

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

body {
    font-family: Montserrat, 'Arial', 'Helvetica', sans-serif;
    background-color: var(--color-main);
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 1180px;
    margin: auto;
}

.primary-button {
    padding: 11px auto 10px auto;
    height: 32px;
    width: 170px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-blue);
    background-color: var(--color-white);
    border: 1px solid var(--color-blue);
    border-radius: 4px;
    text-transform: uppercase;
}

.primary-button:hover {
    color: white;
    background-color: var(--color-blue);
    cursor: pointer;
}

.card {
    background-color: var(--color-white);
    box-shadow: 0 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    height: 17px;
    color: var(--color-black);
}

/* Header */

header {
    background-color: white;
}

header nav {
    display: flex;
    width: 484px;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
}

header nav ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-black);
    font-size: 12px;
    font-weight: bold;
}

nav i {
    font-size: 24px;
    padding-bottom: 5px;
}

nav ul li a:hover {
    color: var(--color-blue);
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--color-blue);
    position: relative;
    left: 0;
    top: 17px;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav img {
    position: absolute;
    bottom: 35px;
    left: 20px;
}

.border-right {
    border-right: 1px solid var(--color-border-lightgray);
}

.header-container {
    display: flex;
    height: 80px;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 40px;
}

.logo {
    padding: 17px 43px 17px 40px;
}

.logo img {
    width: 46px;
}

header .container {
    height: 100%;
}

.search {
    position: relative;
    width: 367px
}

input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 74px;
}

input::placeholder {
    font-size: 16px;
    color: #CECECE;
}

.search img {
    width: 24px;
    position: absolute;
    left: 30px;
    top: 28px;
}

.user-perfil a {
    padding: 18px 0 20px 30px;
    align-items: center;
    width: 330px;
    display: flex;
}

.user-perfil img {
    padding-right: 15px;
}

.user-name span {
    font-size: 12px;
}

.name span:first-child {
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
    padding-bottom: 11px;
    color: var(--color-black);
}

.name span:last-child {
    text-transform: uppercase;
    color: var(--color-black);
    opacity: 0.2;
}

.views span:first-child {
    color: var(--color-gray);
    padding-right: 4px
}

.views span:nth-child(2) {
    color: var(--color-green);
    padding-right: 2px;
}

.views {
    display: flex;
    align-items: center
}

.other {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
}

.other a {
    color: var(--color-black)
}

.other i {
    font-size: 24px;
}

.other span {
    font-size: 12px;
    font-weight: bold
}

/* Main */

.main-profile {
    max-width: 850px;
    display: flex;
    flex-direction: column;
}

/* Profile Card */

.main-profile section:nth-child(1) {
    height: 360px;
}

.capa {
    display: flex;
    justify-content: space-between;
    background-image: url(/assets/img/perfil-com-borda.png);
    height: 180px;
    padding: 20px 30px;
}

.edit-profile {
    display: flex;
}

.profile {
    display: flex;
}

.button-capa {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 10px;
    color: var(--color-black);
    height: 36px;
    font-size: 12px;
}

.edit-profile .button-capa:nth-child(2) {
    padding: 6px;
}

.icon-more-horizontal-1 {
    font-size: 24px;
}

.icon-upload,
.icon-edit {
    font-size: 16px;
}

.edit-profile a:first-child {
    margin-right: 10px;
    width: 132px;
}

.icon-edit {
    padding-right: 10px
}

.profile {
    position: relative;
}

.profile>img {
    top: -25px;
    left: 25px;
    position: absolute;
    max-width: 170px;
}

.profile-info {
    padding: 25px 30px 35px 220px;
}

.linkedin-premium {
    display: flex;
    align-items: center;
}

.linkedin-premium span {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-black);
    margin-right: 8px;
}

.nome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 17px;
}

.nome i {
    color: var(--color-blue);
    font-size: 16px;
    margin-right: 8px;
}

.nome span:nth-child(2) {
    display: flex;
    align-items: center;
    color: var(--color-black);
    font-size: 12px;
}

.profile-info p {
    margin-top: 15px;
    margin-bottom: 14px;
    font-size: 14px;
    color: var(--color-black);
    line-height: 21px;
}

.buttons-profile {
    display: flex;
    gap: 15px;
}

/* About Card */

.about-buttons {
    display: flex;
    height: 50px;
    align-items: end;
    border-radius: 4px 4px 0 0;
    width: 720px;
}

.about-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    border: 1px solid var(--color-border-gray);
    height: 40px;
    background-color: var(--color-white);
    border-bottom: 0px;
}

.about-button a {
    color: var(--color-black);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.about-button:hover a {
    color: var(--color-white);
}

.about-button:hover {
    height: 50px;
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
}

.bg-gradiente {
    height: 50px;
    border-top: 1px solid var(--color-border-gray);
    background: linear-gradient(180deg, rgba(241, 244, 248, 0.8) 0%, rgba(241, 244, 248, 0) 100%);
}

.about {
    display: flex;
    padding: 10px 30px 35px;
    flex-direction: column;
}

.about p {
    font-size: 14px;
    color: var(--color-black);
    line-height: 21px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.about span, .main-profile section:nth-child(4) > span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-blue);
}

.main-profile section:nth-child(3) {
    height: 200px;
}

/* Project Card */

.main-profile section:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 355px;
    padding: 30px 30px;
}

.slides {
    display: flex;
    gap: 20px;
}

.slide {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.slide span:nth-child(2) {
    font-size: 14px;
    color: var(--color-black);
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.slide span:nth-child(3) {
    font-size: 10px;
    color: var(--color-black);
}

.title {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    gap: 15px;
}

.title span {
    font-size: 18px;
    color: var(--color-gray);
}

/* Skills */

/* Footer  */

footer {
    display: flex;
    justify-content: center;
    height: 215px;
}

footer button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 15px 10px;
}

footer button i {
    font-size: 16px
}

select {
    width: 270px;
    height: 32px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    cursor: pointer;
}